/* This file will hold styles that are loaded using the same media query as the default grid.
/*
Copyright C50 Dynamic Design
www.c50.be design-at-c50.be 
for more than 980px,e.g. iPad
*/
img#logo{max-width:450px;}
#region-decor img{max-width:100px;margin-top:0px;margin-left:0em;}
div#region-menu{height:16px;clear:right;}
ul#main-menu{margin:0;float:left;text-align:left;width:500px;}
ul#main-menu li a{display:inline-block;width:auto;height:100px;font-size:1.5em;margin:0em 0px;padding:0px;line-height:22px;}
ul#main-menu li a:hover,ul#main-menu li a.active{color:#B6CAE2;}
/* main content */*/
div#region-content{display:block;/* float:right;*/
margin-top:100px;padding-left:0%;}
/* sidebar second */
#region-sidebar-second{padding-left:0%;}
/* images - general */
img{max-width:100%;height:auto;}
#patte {display:none;}
