/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/*
Copyright C50 Dynamic Design
www.c50.be design-at-c50.be
tested with 800px width
*/
img.region-inner{max-width:1em;}
.region-menu-inner{margin:0 auto;width:500px;}
/* Branding */
img#logo{max-width:350px;}
.region-branding-inner{margin:0;width:700px;padding-bottom:0;}
/*Decor*/
#region-decor li{list-style-type:none;}
div#region-decor {display:inline-block !important;}
/*main menu*/
div#region-menu{margin:2em 0;}
ul#main-menu li a{width:84px;height:100px;font-size:1.5em;padding:0px;}
ul#main-menu li a:hover,ul#main-menu li a.active{color:#B6CAE2;}
/* main content */
/* reset des tableaux */
.node-tableau {margin-left: 0 !important;width:100% !important;}
/* sidebar second */
#zone-content-wrapper{background:none;}
.context-commander #zone-content {margin-top:0px;}
.context-commander #region-decor {margin-top:-99px;}
#block-system-main{padding-left:0 !important;margin-top:0;}
div#region-content,#region-sidebar-second{display:block;margin-top:0px;padding:0px;}
.context-commander div#region-content, .context-commander #region-sidebar-second{display:block;margin-top:50px;padding:0px;}
/* 20x20 auto shadow */
.view-tableaux-20-20 ul li{position:relative;display:inline-block;width:70px;height:90px;}
/*.block-views-tableaux-20-20-block div.block-inner.clearfix h2.block-title{height:12px;text-indent:-9999px;margin-bottom:-18px;margin-left:0px;}*/
.field-name-field-imgtabl img{width:80px !important;/*accomodation*/
margin-bottom:2em;margin-top:1em;}
#block-views-tableaux-20-20-block{background:none;}
/* login form */
#user-login input {max-width: 300px;}
#patte {display:none;}

#region-footer-second a, #region-footer-second a:link, #region-footer-second a:visited {position:relative;top:2.2em;float:right;}

ul.language-switcher-locale-session {margin-top:0em !important; margin-right: -1em !important;}